<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded</title>
    <%- include('../partials/css.ejs') %>

</head>

<body>
    <div class="container">
        <div class="text-center justify-content-center align-items-center">
            <div class="prikaz">
                <div class="image margin2-top">
                    <img src="/images/check-mark.png" alt="" srcset="" width="100" height="100">
                </div>
                <div class="desc margin4-top">
                    Proizvod je uspesno dodat
                </div>
                <div class="opcije margin2-top margin2-bottom">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-primary margin1-right" href="/admin/add">Nazad</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary margin1-right" href="/">Pocetna</div>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary" href="/admin/dashboard">Dashboard</di>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>