<footer>
    <div class="footer-cont">
        <div class="container footer-content">
            <div class="text-center ">
                <div class="d-none d-lg-block">
                    <div class="row">
                        <div class="col">
                            <div class="title c-black">
                                E - TRGOVINA
                            </div>
                            <a class="col option c-black d-block" href="/help/sizes" style="text-decoration: none;">
                                VODIČ ZA VELIČINU
                            </a>
                            <a class="col option c-black d-block" href="/policy/payments"
                                style="text-decoration: none;">
                                NAČIN PLAĆANJA
                            </a>
                            <a class="col option c-black d-block" href="/help/delivery" style="text-decoration: none;">
                                METODE DOSTAVE
                            </a>
                            <a class="col option c-black d-block" href="/policy/returns" style="text-decoration: none;">
                                NAČIN POVRATA
                            </a>
                            <a class="col option c-black d-block" href="/policy/data" style="text-decoration: none;">
                                ZAŠTITA OSOBNIH PODATAKA
                            </a>
                        </div>
                        <div class="col">
                            <div class="title">
                                O <%= siteName %>
                            </div>
                            <a class="col option c-black d-block" href="/aboutus" style="text-decoration: none;">
                                O NAMA
                            </a>
                            <a class="col option c-black d-block" href="/adores" style="text-decoration: none;">
                                TVRTKA
                            </a>
                            <a class="col option c-black d-block" href="/info/media" style="text-decoration: none;">
                                MEDIJI
                            </a>
                            <div class="col option" style="text-decoration: none;">
                                KONTAKTIRAJTE NAS
                            </div>
                            <a class="col option d-block" href="mailto:info@adoresfsh.com"
                                style="text-decoration: none;">
                                info@adoresfsh.com
                            </a>
                        </div>
                        <div class="col">
                            <div class="title">
                                Mreze
                            </div>
                            <div class="col option"><i class="fa-brands fa-tiktok fa-beat-fade fa-lg"></i> _mm.mia</div>
                            <div class="col option"><i class="fa-brands fa-instagram fa-beat-fade fa-lg"></i> mm.mia1
                            </div>
                            <div class="col option"><i class="fa-brands fa-youtube fa-beat-fade fa-lg"></i> mm.mia1
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block d-lg-none d-sm-block d-md-block">
                    <div class="row">
                        <div class="col">
                            <div class="title c-black" style="font-size: 12px !important;">
                                E - TRGOVINA
                            </div>
                            <a class="col option c-black d-block" href="/help/sizes" style="text-decoration: none;">
                                VODIČ ZA VELIČINU
                            </a>
                            <a class="col option c-black d-block" href="/policy/payments"
                                style="text-decoration: none; margin-top: 1rem;">
                                NAČIN PLAĆANJA
                            </a>
                            <a class="col option c-black d-block" href="/help/delivery"
                                style="text-decoration: none; margin-top: 1rem;">
                                METODE DOSTAVE
                            </a>
                            <a class="col option c-black d-block" href="/policy/returns"
                                style="text-decoration: none; margin-top: 1rem;">
                                NAČIN POVRATA
                            </a>
                            <a class="col option c-black d-block" href="/policy/data"
                                style="text-decoration: none; margin-top: 1rem;">
                                ZAŠTITA OSOBNIH PODATAKA
                            </a>
                        </div>
                        <div class="col">
                            <div class="title" style="font-size: 12px !important;">
                                O <%= siteName %>
                            </div>
                            <a class="col option c-black d-block" href="/aboutus" style="text-decoration: none;">
                                O NAMA
                            </a>
                            <a class="col option c-black d-block" href="/adores"
                                style="text-decoration: none; margin-top: 1rem;">
                                TVRTKA
                            </a>
                            <a class="col option c-black d-block" href="/info/media"
                                style="text-decoration: none; margin-top: 1rem;">
                                MEDIJI
                            </a>
                            <div class="col option" style="text-decoration: none; margin-top: 1rem;">
                                KONTAKTIRAJTE NAS
                            </div>
                            <a class="col option d-block c-black" href="mailto:info@adoresfsh.com"
                                style="text-decoration: none; margin-top: 1rem;">
                                info@adoresfsh.com
                            </a>
                        </div>
                        <div class="col">
                            <div class="title" style="font-size: 12px !important;">
                                MREZE
                            </div>
                            <div class="text-center">
                                <div class="col option d-flex align-items-center"><i
                                        class="fa-brands fa-tiktok fa-beat-fade fa-lg"
                                        style=" margin-right: .2rem;"></i> _mm.mia</div>
                                <div class="col option d-flex align-items-center"
                                    style="margin-top: 1rem; margin-right: .2rem;"><i
                                        class="fa-brands fa-instagram fa-beat-fade fa-lg"
                                        style=" margin-right: .2rem;"></i> mm.mia1
                                </div>
                                <div class="col option d-flex align-items-center"
                                    style="margin-top: 1rem; margin-right: .2rem;"><i
                                        class="fa-brands fa-youtube fa-beat-fade fa-lg"
                                        style=" margin-right: .2rem;"></i> mm.mia1
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="d-block d-lg-none d-sm-block d-md-block">
                    <div class="col">
                        <div class="title">
                            Social
                        </div>
                        <div class="row">
                            <div class="col option"><i class="fa-brands fa-tiktok fa-beat-fade fa-lg"></i> mm.mia1</div>
                            <div class="col option"><i class="fa-brands fa-instagram fa-beat-fade fa-lg"></i> mm.mia1
                            </div>
                            <div class="col option"><i class="fa-brands fa-youtube fa-beat-fade fa-lg"></i> mm.mia1
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <hr style="background-color:#614e4e; height: 2px;">
        <div class="payments-support text-center">
            <img src="/images/payments.svg" alt="payments">
        </div>
    </div>
</footer>