<footer>
    <div class="footer-cont">
        <div class="container footer-content">
            <div class="text-center ">
                <div class="d-none d-lg-block">
                    <div class="row">
                        <div class="col">
                            <div class="title c-black">
                                E - TRGOVINA
                            </div>
                                <a class="col option c-black d-block" href="/help/sizes" style="text-decoration: none;">
                                VODIC ZA VELICINU
                            </a>
                            <a class="col option c-black d-block" href="/policy/payments" style="text-decoration: none;">
                                NACIN PLACANJA
                            </a>
                            <a class="col option c-black d-block" style="text-decoration: none;">
                                METODE DOSTAVE
                            </a>
                            <a class="col option c-black d-block" href="/policy/returns" style="text-decoration: none;">
                                NACIN POVRATA
                            </a>
                            <a class="col option c-black d-block" href="/policy/data" style="text-decoration: none;">
                                ZASTITA OSOBNIH PODATAKA
                            </a>
                        </div>
                        <div class="col">
                            <div class="title">
                                O <%= siteName %>
                            </div>
                            <a class="col option c-black d-block" href="/aboutus" style="text-decoration: none;">
                                O nama
                            </a>
                            <div class="col option" style="text-decoration: none;">
                                Kontaktirajte nas 
                            </div>
                            <div class="col option" style="text-decoration: none;">
                                info@adoresfsh.com
                            </div>
                        </div>
                        <div class="col">
                            <div class="title">
                                Mreze
                            </div>
                            <div class="col option"><i class="fa-brands fa-tiktok fa-beat-fade fa-lg"></i> _mm.mia</div>
                            <div class="col option"><i class="fa-brands fa-instagram fa-beat-fade fa-lg"></i> mm.mia1
                            </div>
                            <div class="col option"><i class="fa-brands fa-youtube fa-beat-fade fa-lg"></i> mm.mia1
                            </div>
                            <div class="col option"><i class="fa-brands fa-email fa-beat-fade fa-lg"></i> mm.mia1
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block d-lg-none d-sm-block d-md-block">
                    <div class="row">
                        <div class="col">
                            <div class="title">
                                HERE TO HELP
                            </div>
                            <div class="col option">
                                ININTELLECTUAL PROPERTY RIGHTS
                            </div>
                            <div class="col option">
                                TERMS OF SERVICE
                            </div>
                            <div class="col option">
                                TRACK PACKAGE
                            </div>
                            <div class="col option">
                                SHIPPING POLICY
                            </div>
                            <div class="col option">
                                SIZE GUIDE
                            </div>
                        </div>
                        <div class="col">
                            <div class="title">
                                ABOUT <%= siteName %>
                            </div>
                            <div class="col option">
                                About us
                            </div>
                            <div class="col option">
                                Refund Policy
                            </div>
                            <div class="col option">
                                Privacy Policy
                            </div>
                            <div class="col option">
                                Contact us
                            </div>
                        </div>
                        <div class="col">
                            <div class="title">
                                WANNA STAY IN THE LOOP?
                            </div>
                            <div class="col option">
                                LEAVE YOUR EMAIL FOR EXCLUSIVE DISCOUNTS AND STOCK DROPS
                            </div>
                            <div class="col">
                                <a class="btn btn-primary margin1-top" href="/register">Registruj se</a>
                            </div>
                        </div>

                        <div class="col">
                            <div class="title">
                                Social
                            </div>
                            <div class="row">
                                <div class="col option"><i class="fa-brands fa-tiktok fa-beat-fade fa-lg"></i>
                                    mm.mia1</div>
                                <div class="col option"><i class="fa-brands fa-instagram fa-beat-fade fa-lg"></i>
                                    mm.mia1
                                </div>
                                <div class="col option"><i class="fa-brands fa-youtube fa-beat-fade fa-lg"></i>
                                    mm.mia1
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="d-block d-lg-none d-sm-block d-md-block">
                    <div class="col">
                        <div class="title">
                            Social
                        </div>
                        <div class="row">
                            <div class="col option"><i class="fa-brands fa-tiktok fa-beat-fade fa-lg"></i> mm.mia1</div>
                            <div class="col option"><i class="fa-brands fa-instagram fa-beat-fade fa-lg"></i> mm.mia1
                            </div>
                            <div class="col option"><i class="fa-brands fa-youtube fa-beat-fade fa-lg"></i> mm.mia1
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <hr style="background-color:#614e4e; height: 2px;">
        <div class="payments-support text-center">
            <img src="/images/payments.svg" alt="payments">
        </div>
    </div>
</footer>