<div class="d-none d-lg-block">
    <nav class="navbar navbar-expand-lg" style="background-color: #bb9797;">
        <div class="container">
            <a class="navbar-brand siteName2" href="/">
                <img src="/images/Black_Transparent.svg" alt="" srcset="" style="width: 100px; height: auto;">
            </a>
            <% if (!req.session.user) {%>
                <div class="mx-left">
                    <div class="secNav-items d-flex justify-content-center align-items-center nav-options">
                        <select class="form-select opti" aria-label="Hrvatski" style="width: auto;">
                            <option selected>Hrvatski</option>
                            <option value="english">Engleski</option>
                            <option value="deutsch">Nemacki</option>
                        </select>
                        <select class="form-select margin2-left opti" style="width: auto;">
                            <option class="text-break" selected>EUR</option>
                            <option value="euro">USD</option>
                        </select>
                        <a class="opti margin2-left" href="/login">Prijava</a>
                    </div>
                </div>
                <% } else { %>
                    <div class="mx-left">
                        <div class="secNav-items d-flex justify-content-center align-items-center nav-options">
                            <select class="form-select opti" aria-label="Hrvatski" style="width: auto;">
                                <option selected>Hrvatski</option>
                                <option value="english">Engleski</option>
                                <option value="deutsch">Nemacki</option>
                            </select>
                            <select class="form-select margin2-left opti" style="width: auto;">
                                <option class="text-break" selected>EUR</option>
                                <option value="euro">USD</option>
                            </select>
                            <a class="opti margin2-left" href="/account/orders">Nalog</a>
                        </div>
                    </div>
                    <% } %>
        </div>
    </nav>
</div>

<div class="d-block d-lg-none d-sm-block d-md-block" style="background-color: #bb9797;">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <a class="siteName2 navbar-brand" href="/">
                <img src="/images/Black_Transparent.svg" alt="" srcset="" style="width: 100px; height: auto;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <hr style="background-color: #614e4e; height: 2px;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 margin1-top secNav-items">
                    <div class="row">
                        <div class="col">
                            <li class="nav-item margin1-left">
                                <select class="form-select opti" aria-label="Hrvatski" style="width: auto;">
                                    <option selected>Hrvatski</option>
                                    <option value="english">Engleski</option>
                                    <option value="deutsch">Nemacki</option>
                                </select>
                            </li>
                        </div>
                        <div class="col">
                            <li class="nav-item margin1-left">
                                <select class="form-select margin2-left opti" style="width: auto;">
                                    <option class="text-break" selected>EUR</option>
                                    <option value="euro">USD</option>
                                </select>
                            </li>
                        </div>
                        <div class="col">
                            <li class="nav-item margin1-left">
                                <% if(req.session.user){ %>
                                    <a class="opti" href="/account/orders">Nalog</a>
                                    <% } else {%>
                                        <a class="opti" href="/login">Prijava</a>
                                        <% } %>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>