<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../../../partials/css.ejs") %>
</head>

<body>
    <%- include('../../../partials/secNavbar.ejs') %>
        <div class="container">
            <div class="text-center brk margin2-top">
                <b>O NAMA</b>
                Adores/Adoresfsh je obrt osnovan 01.07.2023., sa sjedištem u Iloku. Vlasnica, Mia Miškulin (mm. Mia), već sedam godina se aktivno bavi stvaranjem sadržaja za društvene mreže kao što su YouTube, TikTok i Instagram. Nakon dugogodišnjeg rada i iskustva, Mia je odlučila napraviti svoju vlastitu kolekciju. Za početak, fokusirala se na dizajniranje kolekcije crop topova, uključujući pet različitih krojeva među kojima se nalaze i korzeti i bluze. Mia ima ambiciozan plan svaki mjesec predstaviti po dvije nove kreacije, te proširiti svoju liniju na ostalu žensku i mušku odjeću. Njena vizija je kreirati odjeću koja ističe individualnost i omogućava izražavanje osobnog stila.
                <hr>
            </div>
        </div>
        <%- include('../../../partials/js.ejs') %>
</body>

</html>