<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../../../partials/css.ejs") %>
</head>

<body>
    <%- include('../../../partials/secNavbar.ejs') %>
        <div class="container">
            <div class="text-center brk margin2-top">
                <b>PLAĆANJE KARTICOM</b>
                Ako želite platiti kupnje platnom karticom, odaberite plaćanje karticom. Zatim unesite broj kartice, datum isteka i CVV
                broj pa prihvatite transakciju pritiskom tipke „Plati”. Iznos će se skinuti s vaše platne kartice Visa ili MasterCard.

                <hr>
                <b>KAKO IZVRŠITI NARUDŽBU U NAŠOJ INTERNET TRGOVINI?</b>
                Naš cilj je da kupnja u našoj online trgovini bude što jednostavnija i intuitivnija. U nastavku ćete pronaći informacije
                o standardnom postupku koji trebate slijediti prilikom kupnje kod nas.
                
                Proizvode možete dodavati u svoju košaricu dok pregledavate stranicu proizvoda ili prozor za pregled robe, gdje možete
                saznati više o detaljima proizvoda (slike, boje i dostupne veličine).
                
                Nakon što odaberete odgovarajuću veličinu (za provjeru posjetite <a href="/policy/" style="color: rgb(66, 158, 233); text-decoration: none;"><b>vodič za veličine</b></a>), proizvod možete dodati u svoju
                košaricu. Također ga možete dodati na svoj "popis želja", iz kojeg kasnije možete premjestiti proizvode u košaricu. U
                košaricu možete dodati samo proizvode dostupne veličine, dok na "popis želja" možete dodati i one koji trenutno nisu na
                zalihama (nedostupne veličine su označene sivom bojom).
                
                Svaki put kada dodate proizvod u košaricu, u gornjem desnom kutu stranice vidjet ćete ikonicu košarice koja pritiskom na nju
                prikazuje listu dodatih artikala.
                
                Kliknite na "pregled košarice" u gornjem desnom kutu stranice ili "proces narudžbe" na stranici proizvoda ili u prozoru
                trgovine. To će vas odvesti do cjelovitog izbornika, gdje možete promijeniti količinu stavki ili premjestiti stavke na
                svoj popis želja.
                
                Nakon što predajete narudžbu, primit ćete automatsku poruku e-pošte s potvrdom i informacijama o daljnjem postupku
                obrade narudžbe.
                
                <hr>
            </div>
        </div>
        <%- include('../../../partials/js.ejs') %>
</body>

</html>