<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../../../partials/css.ejs") %>
</head>

<body>
    <%- include('../../../partials/secNavbar.ejs') %>
        <div class="container">
            <div class="text-center brk margin2-top">
                <b>TREBATE LI VRATITI NARUDŽBU?</b>
                Nema problema! Ako niste zadovoljni proizvodom koji ste kupili, Adores će vam osigurati potpuni kredit u
                trgovini.

                <hr>
                <b>POLITIKA POVRATA</b>
                Artikle je potrebno vratiti u roku od 14 dana od datuma isporuke.
                Za sve povrate automatski će se izdati kredit u trgovini, što će vam omogućiti jednostavnu ponovnu
                kupnju alternativnog
                artikla ili istog artikla u drugoj veličini.
                Ne nudimo povrat novca u slučaju promjene mišljenja ili odabira netočne veličine.
                Kupci koji su primili neispravan artikl ili proizvode s tvorničkim greškama dobit će povrat novca.
                (Imajte na umu da
                Adores skladište provodi strogu kontrolu kvalitete svakog artikla prije slanja i nakon primitka
                povrata).
                Budite pažljivi prilikom isprobavanja proizvoda. (Artikli koji su oštećeni od strane kupca ili nisu u
                skladu s našom
                politikom povrata bit će odbijeni i vraćeni kupcu).
                Adores nije odgovoran za troškove povratne dostave.
                Ne izdajemo kredit u trgovini niti povrat novca za originalne troškove dostave.

                <hr>
                <b>ZAMJENE</b>
                Kredit u trgovini bit će izdan kako biste mogli ponovno kupiti novi artikl.
                Ako vam je potrebna hitna zamjena, toplo preporučujemo da kupite zamjensku veličinu prije slanja
                povrata, a mi ćemo vam
                izdati kredit u trgovini kada primimo vaš neželjeni artikl. (Budući da ne zadržavamo artikle niti ih
                mijenjamo dok se
                vaš artikl šalje natrag).

                <hr>
                <b>UVJETI ZA POVRAT</b>
                Sva se odjeća mora vratiti:

                U izvornom stanju, nenošena i neoprana. (Bez ikakvih mrlja od šminke ili dezodoransa).
                Sve etikete moraju biti na mjestu i proizvod mora biti u originalnom pakiranju.

                <hr>
                <b>ŠTO SE NE MOŽE VRATITI</b>
                Artikli koji su na rasprodaji ne mogu se vratiti (izuzetak su artikli po punoj cijeni koji su kupljeni uz korištenje
                koda za popust).

                <hr>
                <b>PRIMILI STE ARTIKL S GREŠKOM?</b>
                Ako ste primili artikl s greškom, molimo vas da u roku od 5 dana od primitka paketa pošaljete e-poruku našem timu za
                korisničku podršku na <b>info@adoresfsh.com</b> Molimo vas da pričekate upute prije nego što pošaljete artikl
                na povrat.
                Naknada za povrat neće biti nadoknađena ukoliko niste dobili upute od našeg tima za podršku putem e-pošte prije povrata
                artikla s greškom.
                Molimo vas da za povrat svojih artikala koristite metodu dostave koja omogućava praćenje, jer Adores ne preuzima
                odgovornost za izgubljene ili oštećene povrate tijekom transporta.

                <hr>
                <b>PROCJENA POVRATA</b>
                Vraćeni proizvodi bit će procijenjeni po dolasku kako bismo se uvjerili da su u skladu s našom politikom povrata.
                Artikli koji nisu prikladni za povrat i/ili vraćeni artikli koji nisu u skladu s našom politikom povrata neće biti
                prihvaćeni i bit će vraćeni kupcu.

                <hr>
                <b>POVRAT NOVCA I ROKOVI OBRADE</b>
                Ovisno o usluzi i zemlji iz koje vraćate artikle, obično može potrajati do 21 radnog dana (isključujući vikende i
                državne praznike) da paket stigne do nas i bude obrađen od strane našeg tima za povrate.
                
                Povrat novca vršit će se na isti način na koji je izvršena uplata.
                Za plaćanja kreditnom ili poklon karticom, ili kreditom u trgovini, povrat će se prvo primijeniti na poklon
                karticu/kredit u trgovini.
                Molimo vas da ne šaljete e-poštu s upitima o statusu vašeg povrata ukoliko nije prošlo 15 dana od dana kada ste poslali
                paket na povrat.
                Bit ćete obaviješteni putem e-pošte koju ste naveli prilikom narudžbe kada se povrat novca izvrši.
                Kredit za trgovinu bit će izdan putem e-pošte, u obliku koda, a bit će valjan 6 mjeseci od dana kada primite e-poštu.
                Imajte na umu da Adores ne radi tijekom državnih praznika, tako da će svi povrati biti obrađeni sljedeći radni dan.
                
                <hr>
            </div>
        </div>
        <%- include('../../../partials/js.ejs') %>
</body>

</html>