<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../../../partials/css.ejs") %>
</head>

<body>
    <%- include('../../../partials/secNavbar.ejs') %>
        <div class="container">
            <div class="text-center brk margin2-top">
                <b>NAČELA OBRADE OSOBNIH PODATAKA</b>

                Uz naše uvjete korištenja i upotrebe kolačića, ovaj dokument objašnjava kako prikupljamo i obrađujemo
                vaše osobne
                podatke primljene na ADORES stranici.

                Transparentni smo

                Vaše podatke prikupljamo, koristimo i prosljeđujemo samo na načine opisane u ovim pravilima.

                Jamčimo sigurnost vaših podataka

                Obavezujemo se zaštiti osobne podatke koje nam dostavljate.

                Imate kontrolu nad svojim podacima

                Svoje osobne podatke i komunikacijske postavke možete ažurirati u bilo koje vrijeme. Na vaš zahtjev,
                vaši će osobni
                podaci biti izbrisani.

                <hr>
                <b>Koje podatke obrađujemo?</b>

                <b>1.1.</b> Podatke koje dostavljaju kupci. Na ADORES-u obrađujemo osobne podatke o korisnicima. Uglavnom
                obrađujemo osobne
                podatke koje nam dostavljate prilikom registracije na ADORES. To posebno uključuje vašu e-mail adresu,
                ime i spol. Ako
                želite, možete uključiti i druge podatke, kao što su fotografija, trenutno mjesto boravka, interesi
                navedeni u usluzi
                ili druge informacije.

                <b>1.2.</b> Podaci prikupljeni putem kolačića. Za bolje ciljanje reklamnih kampanja i poboljšanje proizvoda i
                usluga, ADORES
                koristi informacije o robi koju kupuju naši kupci. Ako ste omogućili pohranu kolačića u svom pregledniku
                i slažete se s
                njima, ADORES prima informacije o vašim posjetima web stranicama, pregledanim proizvodima i drugim
                aktivnostima na web
                mjestu.

                <b>1.3.</b> ADORES ne prikuplja niti na drugi način obrađuje bilo koje osjetljive osobne podatke uključujući,
                npr. informacije
                o vašem zdravlju, vjeri ili uvjerenju itd.

                <hr>
                <b>2.1.</b> Podaci se obrađuju u svrhe promocije i ponude proizvoda ADORES, pretežito putem poslovnih poruka koje šaljemo na
                e-mail adrese korisnika. Obrada podataka u ovom slučaju temelji se isključivo na vašem pristanku, što je potpuno
                dobrovoljno. Ako ne pristanete na obradu podataka, to neće utjecati na vašu sposobnost da u potpunosti koristite naše
                web mjesto. Prilikom registracije, ili kasnije unutar postavki vašeg korisničkog računa, možete dati svoj pristanak
                ADORES-u. Napominjemo da se samo osobe starije od 15 godina mogu registrirati za ADORES. U bilo kojem trenutku možete
                povući svoj pristanak klikom na poveznicu unutar bilo koje komercijalne komunikacije ili kroz postavke korisničkog
                računa.

                <b>2.2.</b> ADORES obrađuje podatke o kolačićima, pregledanim proizvodima i drugim aktivnostima na web mjestu kako bi
                unaprijedio svoje oglašavanje i promociju. Ova obrada moguća je samo uz vašu suglasnost za korištenje relevantnih
                kolačića, što je potpuno dobrovoljno. Uobičajeno je da ADORES na temelju prikupljenih podataka izrađuje statističke
                analize i izvještaje o ponašanju korisnika web stranica. Ovim podacima uspijevamo bolje ciljati oglašavanje ili
                prilagoditi sadržaj web stranice prema onome što vas zanima, što tražite, ili što općenito zanima veću skupinu
                korisnika. Obrada osobnih podataka u ovom slučaju često je automatizirana. Za više informacija o kolačićima, pogledajte
                Načela korištenja kolačića.
                
                Povlačenje suglasnosti i otkazivanje primanja komercijalnih poruka
                
                Korisnici ADORES-a uvijek imaju mogućnost odjaviti se s liste za primanje komercijalnih poruka na sljedeći način:

                Klikom na poveznicu u podnožju svake komercijalne poruke; ili
                
                Iznošenjem protivljenja obradi osobnih podataka putem e-maila na
                info@adoresfsh.com ili putem drugih kontaktnih podataka navedenih u ovim
                pravilima.
                
                <b>2.3.</b> Kako bismo ubrzali platne transakcije, možemo obrađivati osobne podatke poput imena, e-adrese, telefonskog broja,
                adrese za naplatu i adrese za dostavu. Osobni podaci se dijele s izdavateljem kreditne kartice radi lakše procjene
                rizika transakcije i ubrzanja procesa kupnje. Sam izdavatelj kreditne kartice ima potpune podatke o transakciji. Osobni
                podaci se čuvaju tijekom trajanja procjene transakcije. Obrada se temelji na legitimnom interesu za obradu platnih
                transakcija.
                
                Kolačići. Ako želite onemogućiti pohranu kolačića na vašem uređaju, možete promijeniti postavke u pregledniku. Ako
                onemogućite kolačiće za ADORES, neki dijelovi web stranice možda neće raditi ispravno. Za više informacija o uklanjanju
                i brisanju kolačića pogledajte Načela korištenja kolačića.
                
                <hr>
                <b>Tko ima pristup?</b>
                
                <b>3.1.</b> Osobne podatke obrađuje ADORES i njegovi zaposlenici. Sve osobe koje imaju pristup osobnim podacima obvezne su
                čuvati tajnost, a ta se obveza nastavlja i nakon prestanka suradnje s ADORES-om.
                
                <b>3.2.</b> ADORES kao administrator koristi druge subjekte za obradu osobnih podataka, tzv. prerađivače. Prerađivač je svaki
                subjekt koji obrađuje osobne podatke u ime tvrtke ADORES na način koji određuje ADORES. Ukoliko je za obradu potrebna
                vaša dozvola, podatke prosljeđujemo prerađivačima samo ukoliko ste dali dozvolu. Prerađivačima pružamo samo one podatke
                koji su neophodni za pružanje njihovih usluga.
                
                <hr>
                <b>Koliko dugo se obrađuju podaci?</b>

                <b>4.1.</b> Pohranjujemo vaše osobne podatke samo onoliko dugo koliko je potrebno za prijavu i korištenje ADORES usluga, s
                ciljem razumijevanja vaših interesa i poboljšanja naših proizvoda za vas. Ako nemamo razloga ili zakonske obveze za
                obradu vaših podataka, brišemo ih ili ih pohranjujemo na način koji ne dozvoljava određivanje vašeg identiteta.
                
                <b>4.2.</b> Komercijalne poruke se šalju korisnicima tijekom cijelog razdoblja davanja suglasnosti. Podaci prikupljeni za
                marketinške svrhe putem ADORES kolačića obrađuju se tijekom vremena davanja suglasnosti za korištenje kolačića, odnosno
                za pohranu kolačića u preglednik. Druga mogućnost je da se podaci obrađuju sve dok se ne usprotivite obradi vaših
                podataka za tu svrhu.
                
                <b>4.3.</b> Daljnju obradu osobnih podataka, koja prelazi određena ograničenja, provodi ADORES samo ako je to potrebno za
                poštivanje zakona koji se primjenjuju na ADORES. Bez obzira na trajanje pohrane vaših osobnih podataka, možete zatražiti
                da obrišemo vaše osobne podatke.
                
                <hr>
                <b>Koja su vaša prava?</b>

                <b>5.1.</b> U vezi s obradom osobnih podataka, možete kontaktirati ADORES i zatražiti:
                
                Informacije o osobnim podacima koje obrađuje ADORES, o svrsi i prirodi obrade osobnih podataka, uključujući informacije
                o potencijalnim primateljima osobnih podataka izvan ADORES-a. Opće informacije o obradi osobnih podataka u ovim
                pravilima.
                Pristup podacima koje ste proslijedili tvrtki ADORES, bilo tijekom registracije ili narudžbe. Ako ostvarite to pravo,
                ADORES će potvrditi koje posebne osobne podatke obrađuje i koji će ovi podaci biti dostupni zajedno s informacijama o
                njihovoj obradi.
                Ispravljanje osobnih podataka, ako su netočni ili nepotpuni.
                
                Razjašnjenje i ispravljanje neispravnog stanja (npr. blokiranje, popravljanje, dopunjavanje ili brisanje osobnih
                podataka) ako smatrate da ADORES obrađuje osobne podatke suprotno vašem osobnom i privatnom životu ili u suprotnosti sa
                zakonom.
                
                Brisanje osobnih podataka (tj. pravo na zaboravljanje) ili njihova ograničena obrada, kada više nisu potrebni u tu
                svrhu, ili ako ADORES nema pravnu osnovu za obradu osobnih podataka na vrijeme, uključujući slučajeve u kojima se ne
                slažete s njihovom daljnjom obradom. Da bi ispunili ove uvjete, vaši podaci koje ADORES drži bit će u cijelosti ili
                djelomično izbrisani.
                Ako smatrate da vaši podaci nisu pravilno obrađeni, možete podnijeti žalbu Uredu za zaštitu osobnih podataka.
                
                <b>5.2.</b> Osim toga, ADORES-ovi klijenti mogu se protiviti obradi osobnih podataka u slučaju slanja komercijalnih poruka ili
                procjene kupovnih preferencija, na temelju kojih će ADORES odmah prekinuti obradu osobnih podataka u te svrhe.
                
                <hr>
                <b>Sigurnost</b>
                
                <b>6.1.</b> ADORES je posvećen sigurnosti vaših podataka. Korištenje osobnih podataka u potpunosti se provodi u skladu s
                važećim zakonima i propisima, uključujući opće propise o zaštiti osobnih podataka (GDPR). ADORES pri obradi osobnih
                podataka snažno naglašava tehničku i organizacijsku sigurnost obrađenih podataka.

                <b>6.2.</b> Svi osobni podaci u elektroničkom obliku pohranjuju se u bazama podataka i sustavima, do kojih mogu pristupiti samo
                oni koji moraju raspolagati osobnim podacima u svrhe navedene u ovim pravilima, i to samo u mjeri koja je potrebna.
                Pristup ovim osobnim podacima zaštićen je lozinkom i vatrozidom. ADORES redovito provjerava sigurnost osobnih podataka i
                kontinuirano poboljšava njihovu sigurnost.

                <hr>
            </div>
        </div>
        <%- include('../../../partials/js.ejs') %>
</body>

</html>