<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% let total=3; %>
    <%- include("./partials/css.ejs") %>
</head>

<body>
    <%- include('./partials/secNavbar.ejs') %>
        <div class="container">
            <div class="text-center">
                <% if(req.session.value=="usd" ) {%>
                    <%= console.log(eurtousd(3)) %>
                        <% } %>
            </div>
        </div>
        <%- include('./partials/js.ejs') %>
</body>

</html>