<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/css.ejs') %>
        <style>
            .gw-container {
                background-image: linear-gradient(to bottom right, #7f25f5, #7100ad);
                padding-top: 2%;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 2%;
                width: 80%;
                margin-top: 20%;
                margin-left: auto;
                margin-right: auto;
                border-radius: 15px;
            }

            .gw-subject {
                font-size: 20px;
                padding-top: 2%;
                color: white;
            }

            .gw-title {
                font-size: 30px;
                color: white;
            }

            .gw-timer {
                padding-top: 2%;
                font-size: 40px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
                font-weight: 800;
            }

            .timer-tt {
                color: white;
                font-size: 20px;
                padding-top: 2%;
                font-weight: 600;
            }
        </style>
</head>

<body class="bg-dark">
    <div class="container">
        <div class="text-center">
            <div class="gw-container">
                <div class="gw-title">Dobrodosli</div>
                <div class="gw-subject">Dobrodosli na otvaranje Adores Brenda
                </div>
                <div class="gw-timer" id="timer">
                    Otvaranje je u 14h. Live na tiktoku.
                </div>
            </div>
        </div>
    </div>
</body>

</html>