<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../../partials/css.ejs') %>
</head>

<body>
    <%- include('../../partials/navbar.ejs') %>



        








        ATHLETICS
        Wide Leg Embroidered Back Joggers in Heather Grey
        $24.00
        Color: Black
        Size: L
        XS
        S
        M
        L
        Mia je 5’1” i nosi velicinu XS
        <div class="btn">ADD TO CART</div>
        <hr>
        Super mekane i dizajnirane da traju, Athletics široke trenirke
        dizajnirane za vrhunsku udobnost. Izrađene od naše vrhunske,
        330 g/m2 teške, brušene pamučne tkanine s... Vise
        <hr>
        PRODUCT DETAILS
        <div style="visibility: hidden;">
            Super mekane i dizajnirane da traju, Athletics široke trenirke
            dizajnirane za vrhunsku udobnost. Izrađene od naše vrhunske,
            330 g/m2 teške, brušene pamučne tkanine s podstavom od flisa
            iznutra za nevjerojatnu udobnost, Athletics trenirke širokog su kroja
            ravnih nogavica. S izvezenim Sport logotipom na stražnjoj strani,
            Athletics trenirke su upotpunjene podesivom, skrivenom uzicom koja
            steže struk. Zarazno mekane i nevjerojatno udobne, sportske hlače
            Athletics dizajnirane su da podignu vašu odjeću za slobodno vrijeme
            na višu razinu.
            330gsm super soft, fleece back fabric (80% Cotton, 20% Polyester)
            High, elasticated waistband with drawcord
            Relaxed, oversized fit with wide legEmbroidered, Bo+Tee Sport logo on rear
            Pull on design
            Full length
            Product code: BT0825
            Wash inside out, on a gentle setting and low temperature.
            We do our best to ensure that our photos are as true to colour as possible.
            However, due to inconsistencies in monitors, digital photography and production
            variations, we cannot guarantee that the colour you see on your screen accurately
            portrays the true colour of the product.
        </div>
        <hr>

        <hr>
        CHECK OUT THEESE TOO
        <%- include('../../partials/footer.ejs') %>
            <%- include('../../partials/js.ejs') %>
</body>

</html>