<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <%- include('../../partials/css.ejs') %>
</head>

<body>
    <%- include('../../partials/secNavbar.ejs') %>
    <div class="container">
        <div class="successBg">
            <h1 class="text-center">Vasa uplata je uspesno prosla.</h1>
            <h4 class="text-center margin1-top">Bice vam poslat mail u slucaju ikakvih zabune ili poteskoca.</h4>
            <div class="btn btn-success" onclick="window.location.replace('https://www.adoresfsh.com/')">UREDU</div>
        </div>
    </div>
    <%- include('../../partials/js.ejs') %>
</body>

</html>